Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
